# Analysing the Spread of Covid-19 in India

#### Importing Relevant Packages

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
print ('Modules are imported.')

Modules are imported.

#### Importing Relevant Datasets

In [3]:
#Daily cases nationally and by state; time-series - from Covid19India.com downloaded 1st Sept 2020
daily_national = pd.read_csv("datasets/India/national_case_time_series.csv")
daily_state = pd.read_csv("datasets/India/state_wise_overtime.csv")

In [4]:
#Global data on a country level for India up to 28/08/2020 - may be reduntant later given above but use to cross-check
covid_dataset_csv = pd.read_csv("datasets/time_series_covid19_confirmed_global.csv")

In [5]:
#Situation today state wise -  from Covid19India.com downloaded 1st Sept 2020
state_wise_cumulative = pd.read_csv("datasets/India/state_wise_today.csv")

In [5]:
#Dataset displaying the number of hospital beds in India by State - from Kaggle, bookmarked 'Data-Source'
hospital_beds = pd.read_csv('datasets/India/hospital_beds_india.csv')

In [6]:
#Dataset displaying Indian population - proxied on the number of Aadhar cards as the census is dated to 2011 by state 
# --> from Github
population = pd.read_csv('datasets/India/Indian_population_Aadhar.csv')

In [265]:
#Dataset displaying testing by state - from Covid19India.com downloaded 5th Sept
testing = pd.read_csv('datasets/India/statewise_tested_numbers_data.csv')

#### Exploring & Cleaning Datasets

##### 1)  Timeseries datasets:

In [155]:
daily_national.head() #Change dateformat to DD/MM/YYYY

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January,1,1,0,0,0,0
1,31 January,0,1,0,0,0,0
2,01 February,0,1,0,0,0,0
3,02 February,1,2,0,0,0,0
4,03 February,1,3,0,0,0,0

In [156]:
daily_national.shape

(215, 7)

In [157]:
daily_national.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
210,27 August,76827,3384590,59620,2583056,1066,61707
211,28 August,76657,3461247,64475,2647531,1019,62726
212,29 August,78479,3539726,64982,2712513,943,63669
213,30 August,79461,3619187,60422,2772935,960,64629
214,31 August,68766,3687953,64435,2837370,816,65445

In [158]:
daily_state.head()

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2,14-Mar-20,Deceased,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
4,15-Mar-20,Recovered,4,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0

In [159]:
daily_state.shape

(513, 41)

In [376]:
grouped_sets = daily_state.groupby(daily_state.Status)

In [161]:
Cases_State = grouped_sets.get_group("Confirmed")

In [162]:
Deaths_State = grouped_sets.get_group("Deceased")

In [163]:
Recov_State = grouped_sets.get_group("Recovered")

In [164]:
Cases_State.shape

(171, 41)

In [165]:
Deaths_State.shape

(171, 41)

In [166]:
Recov_State.head()

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
1,14-Mar-20,Recovered,9,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
4,15-Mar-20,Recovered,4,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
7,16-Mar-20,Recovered,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10,17-Mar-20,Recovered,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13,18-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [167]:
Cases_State_bydate = pd.DataFrame(Cases_State.T)
Cases_State.head()

,Date,Status,TT,AN,AP,AR,AS,BR,CH,CT,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
0,14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
3,15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
6,16-Mar-20,Confirmed,15,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
9,17-Mar-20,Confirmed,11,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2,0,1,0
12,18-Mar-20,Confirmed,37,0,0,0,0,0,0,0,...,1,3,0,1,8,0,2,1,0,0

In [168]:
Cases_State.drop(['Status'],axis =1, inplace = True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [169]:
Cases_State.columns

Index(['Date', 'TT', 'AN', 'AP', 'AR', 'AS', 'BR', 'CH', 'CT', 'DN', 'DD',
       'DL', 'GA', 'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP',
       'MH', 'MN', 'ML', 'MZ', 'NL', 'OR', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TG',
       'TR', 'UP', 'UT', 'WB', 'UN'],
      dtype='object')

In [170]:
Cases_State.rename(columns={'TT':'Total', 'AN':'Andaman and Nicobar Islands', 'AP': 'Andhra Pradesh', 'AR': 'Arunachal Pradesh', 'AS':'Assam', 'BR':'Bihar', 'CH':'Chandigarh', 'CT':'Chhattisgarh', 'DN':'Dadra and Nagar Haveli', 'DD':'Daman and Diu',
       'DL':'Delhi', 'GA':'Goa', 'GJ':'Gujarat', 'HR':'Haryana', 'HP':'Himachal Pradesh', 'JK':'Jammu and Kashmir', 'JH':'Jharkhand', 'KA':'Karnataka', 'KL':'Kerala', 'LA':'Ladakh', 'LD':'Lakshadweep', 'MP':'Madhya Pradesh',
       'MH':'Maharashtra', 'MN':'Manipur', 'ML':'Meghalaya', 'MZ':'Mizoram', 'NL':'Nagaland', 'OR':'Odisha', 'PY':'Puducherry', 'PB':'Punjab', 'RJ':'Rajasthan', 'SK':'Sikkim', 'TN':'Tamil Nadu', 'TG':'Telangana',
       'TR':'Tripura', 'UP':'Uttar Pradesh', 'UT':'Uttarakhand', 'WB':'West Bengal', 'UN':'State Unassigned'},inplace=True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [200]:
Cases_State['Date'] = pd.to_datetime(Cases_State.Date)

<ipython-input-200-a8d9d13be82e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cases_State['Date'] = pd.to_datetime(Cases_State.Date)

In [212]:
Cases_State.set_index(['Date'],inplace=True)

In [585]:
Cases_State.head(5)

,Total,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli,Daman and Diu,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,State Unassigned
Date,,,,,,,,,,,,,,,,,,,,,
2020-03-14,81,0,1,0,0,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
2020-03-15,27,0,0,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
2020-03-16,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2020-03-17,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2,0,1,0
2020-03-18,37,0,0,0,0,0,0,0,0,0,...,1,3,0,1,8,0,2,1,0,0

In [174]:
Recov_State.drop(['Status'],axis=1,inplace=True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [176]:
Recov_State.rename(columns={'TT':'Total', 'AN':'Andaman and Nicobar Islands', 'AP': 'Andhra Pradesh', 'AR': 'Arunachal Pradesh', 'AS':'Assam', 'BR':'Bihar', 'CH':'Chandigarh', 'CT':'Chhattisgarh', 'DN':'Dadra and Nagar Haveli', 'DD':'Daman and Diu',
       'DL':'Delhi', 'GA':'Goa', 'GJ':'Gujarat', 'HR':'Haryana', 'HP':'Himachal Pradesh', 'JK':'Jammu and Kashmir', 'JH':'Jharkhand', 'KA':'Karnataka', 'KL':'Kerala', 'LA':'Ladakh', 'LD':'Lakshadweep', 'MP':'Madhya Pradesh',
       'MH':'Maharashtra', 'MN':'Manipur', 'ML':'Meghalaya', 'MZ':'Mizoram', 'NL':'Nagaland', 'OR':'Odisha', 'PY':'Puducherry', 'PB':'Punjab', 'RJ':'Rajasthan', 'SK':'Sikkim', 'TN':'Tamil Nadu', 'TG':'Telangana',
       'TR':'Tripura', 'UP':'Uttar Pradesh', 'UT':'Uttarakhand', 'WB':'West Bengal', 'UN':'State Unassigned'},inplace=True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [178]:
Recov_State['Date'] = pd.to_datetime(Recov_State.Date)

<ipython-input-178-529c0354466a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Recov_State['Date'] = pd.to_datetime(Recov_State.Date)

In [584]:
Recov_State.head()

,Total,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli,Daman and Diu,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,State Unassigned
Date,,,,,,,,,,,,,,,,,,,,,
2020-03-14,9,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
2020-03-15,4,0,0,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
2020-03-16,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2020-03-17,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2020-03-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [213]:
Recov_State.set_index(['Date'],inplace=True)

In [180]:
Deaths_State.drop(['Status'],axis=1,inplace=True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [181]:
Deaths_State.rename(columns={'TT':'Total', 'AN':'Andaman and Nicobar Islands', 'AP': 'Andhra Pradesh', 'AR': 'Arunachal Pradesh', 'AS':'Assam', 'BR':'Bihar', 'CH':'Chandigarh', 'CT':'Chhattisgarh', 'DN':'Dadra and Nagar Haveli', 'DD':'Daman and Diu',
       'DL':'Delhi', 'GA':'Goa', 'GJ':'Gujarat', 'HR':'Haryana', 'HP':'Himachal Pradesh', 'JK':'Jammu and Kashmir', 'JH':'Jharkhand', 'KA':'Karnataka', 'KL':'Kerala', 'LA':'Ladakh', 'LD':'Lakshadweep', 'MP':'Madhya Pradesh',
       'MH':'Maharashtra', 'MN':'Manipur', 'ML':'Meghalaya', 'MZ':'Mizoram', 'NL':'Nagaland', 'OR':'Odisha', 'PY':'Puducherry', 'PB':'Punjab', 'RJ':'Rajasthan', 'SK':'Sikkim', 'TN':'Tamil Nadu', 'TG':'Telangana',
       'TR':'Tripura', 'UP':'Uttar Pradesh', 'UT':'Uttarakhand', 'WB':'West Bengal', 'UN':'State Unassigned'},inplace=True)

C:\Users\trish\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [183]:
Deaths_State['Date'] = pd.to_datetime(Deaths_State.Date)

<ipython-input-183-c8ae05277932>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Deaths_State['Date'] = pd.to_datetime(Deaths_State.Date)

In [184]:
Deaths_State.head() #Converted to YYYY-MM-DD

,Date,Total,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,State Unassigned
2,2020-03-14,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2020-03-15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2020-03-16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,2020-03-17,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2020-03-18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [214]:
Deaths_State.set_index(['Date'],inplace=True)

In [185]:
#Transposing the data so that it's time-series
daily_state.set_index('Date')

,Status,TT,AN,AP,AR,AS,BR,CH,CT,DN,...,PB,RJ,SK,TN,TG,TR,UP,UT,WB,UN
Date,,,,,,,,,,,,,,,,,,,,,
14-Mar-20,Confirmed,81,0,1,0,0,0,0,0,0,...,1,3,0,1,1,0,12,0,0,0
14-Mar-20,Recovered,9,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,4,0,0,0
14-Mar-20,Deceased,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15-Mar-20,Confirmed,27,0,0,0,0,0,0,0,0,...,0,1,0,0,2,0,1,0,0,0
15-Mar-20,Recovered,4,0,0,0,0,0,0,0,0,...,0,2,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30-Aug-20,Recovered,60422,67,9067,68,1417,2231,48,485,53,...,1656,2122,25,6406,1638,195,4802,480,3308,0
30-Aug-20,Deceased,960,1,88,0,7,9,7,7,0,...,56,13,0,94,10,4,67,7,50,0
31-Aug-20,Confirmed,68766,28,10004,78,3266,1324,191,1411,27,...,1466,1466,25,5956,1873,321,4782,592,2993,0
31-Aug-20,Recovered,64435,61,8772,63,1531,2267,135,686,39,...,1280,1719,5,6008,1849,201,4597,604,3318,0
31-Aug-20,Deceased,816,1,85,0,10,6,4,8,0,...,49,13,0,91,9,5,63,12,52,0

In [186]:
daily_bystate = pd.DataFrame(daily_state.T)
daily_bystate.head()

,0,1,2,3,4,5,6,7,8,9,...,503,504,505,506,507,508,509,510,511,512
Date,14-Mar-20,14-Mar-20,14-Mar-20,15-Mar-20,15-Mar-20,15-Mar-20,16-Mar-20,16-Mar-20,16-Mar-20,17-Mar-20,...,28-Aug-20,29-Aug-20,29-Aug-20,29-Aug-20,30-Aug-20,30-Aug-20,30-Aug-20,31-Aug-20,31-Aug-20,31-Aug-20
Status,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,...,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased,Confirmed,Recovered,Deceased
TT,81,9,2,27,4,0,15,1,0,11,...,1019,78479,64982,943,79461,60422,960,68766,64435,816
AN,0,0,0,0,0,0,0,0,0,0,...,0,31,75,2,23,67,1,28,61,1
AP,1,0,0,0,0,0,0,0,0,0,...,81,10548,8976,82,10603,9067,88,10004,8772,85

In [187]:
#There are 171 days recorded in the daily_state dataset

In [191]:
covid_dataset_csv.head() #Isolate India cases over time; drop rest

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37894,37953,37999,38054,38070,38113,38129,38140,38143,38162
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8119,8275,8427,8605,8759,8927,9083,9195,9279,9380
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,40667,41068,41460,41858,42228,42619,43016,43403,43781,44146
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1045,1045,1045,1060,1060,1098,1098,1124,1124,1124
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2068,2134,2171,2222,2283,2332,2415,2471,2551,2624

In [192]:
covid_dataset_csv.drop(["Lat","Long"], axis =1, inplace = True)

In [193]:
covid_aggregated = covid_dataset_csv.groupby("Country/Region").sum()

In [195]:
covid_aggregated.head(2)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20,8/29/20,8/30/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,37894,37953,37999,38054,38070,38113,38129,38140,38143,38162
Albania,0,0,0,0,0,0,0,0,0,0,...,8119,8275,8427,8605,8759,8927,9083,9195,9279,9380

In [616]:
covid_aggregated.columns = pd.to_datetime(covid_aggregated.columns)

In [617]:
covid_aggregated.head(2)

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2020-08-21,2020-08-22,2020-08-23,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28,2020-08-29,2020-08-30
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,37894,37953,37999,38054,38070,38113,38129,38140,38143,38162
Albania,0,0,0,0,0,0,0,0,0,0,...,8119,8275,8427,8605,8759,8927,9083,9195,9279,9380

##### 2) Cross-Sectional State Wise Data (Cumulative)

In [7]:
state_wise_cumulative.head()
#Get rid of time only keep date in DD/MM/YYYY, delete total? 
#Active = Confirmed MINUS Recovered, Deaths & Migrated_Other

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,3742022,2879366,66080,795987,01/09/2020 20:55:22,589,TT,54082,41989,647,NaN
1,Maharashtra,792541,573559,24583,194056,31/08/2020 21:54:22,343,MH,0,0,0,343 cases are marked as non-covid deaths in MH...
2,Tamil Nadu,433969,374172,7418,52379,01/09/2020 19:29:23,0,TN,5928,6031,96,[July 22]: 444 backdated deceased entries adde...
3,Andhra Pradesh,445139,339876,4053,101210,01/09/2020 19:29:25,0,AP,10368,9350,84,Total includes patients from other states and ...
4,Karnataka,351481,254626,5837,90999,01/09/2020 19:16:24,19,KA,9058,5159,135,NaN

In [8]:
state_wise_cumulative.shape

(38, 12)

In [9]:
state_wise_cumulative.set_index(['State'],inplace=True)

In [10]:
state_cumulative = state_wise_cumulative.drop(['Delta_Confirmed','Delta_Recovered','Delta_Deaths'],axis=1)

In [11]:
state_cumulative.head(2)

,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,State_Notes
State,,,,,,,,
Total,3742022,2879366,66080,795987,01/09/2020 20:55:22,589,TT,NaN
Maharashtra,792541,573559,24583,194056,31/08/2020 21:54:22,343,MH,343 cases are marked as non-covid deaths in MH...

##### 3) Hospital Beds Data

In [17]:
hospital_beds.head()

,Sno,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18
0,1,Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27,575,3,500
1,2,Andhra Pradesh,1417,198,31.0,20,1666,60799,193,6480,65,16658
2,3,Arunachal Pradesh,122,62,NaN,15,199,2320,208,2136,10,268
3,4,Assam,1007,166,14.0,33,1220,19115,1176,10944,50,6198
4,5,Bihar,2007,63,33.0,43,2146,17796,930,6083,103,5936

In [269]:
hospital_beds.drop(['Sno'],axis=1,inplace=True)
hospital_beds.set_index(['State/UT'], inplace=True)

In [282]:
hospital_beds.head(5)

,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18
State/UT,,,,,,,,,,
Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27,575,3,500
Andhra Pradesh,1417,198,31.0,20,1666,60799,193,6480,65,16658
Arunachal Pradesh,122,62,NaN,15,199,2320,208,2136,10,268
Assam,1007,166,14.0,33,1220,19115,1176,10944,50,6198
Bihar,2007,63,33.0,43,2146,17796,930,6083,103,5936

In [283]:
list(hospital_beds.columns)

['NumPrimaryHealthCenters_HMIS',
 'NumCommunityHealthCenters_HMIS',
 'NumSubDistrictHospitals_HMIS',
 'NumDistrictHospitals_HMIS',
 'TotalPublicHealthFacilities_HMIS',
 'NumPublicBeds_HMIS',
 'NumRuralHospitals_NHP18',
 'NumRuralBeds_NHP18',
 'NumUrbanHospitals_NHP18',
 'NumUrbanBeds_NHP18']

In [284]:
Beds_state = hospital_beds.drop(['NumPrimaryHealthCenters_HMIS',
 'NumCommunityHealthCenters_HMIS','NumSubDistrictHospitals_HMIS','NumDistrictHospitals_HMIS','TotalPublicHealthFacilities_HMIS','NumRuralHospitals_NHP18',
'NumUrbanHospitals_NHP18'],axis=1)

In [285]:
Beds_state['Total No. of Beds'] = Beds_state['NumPublicBeds_HMIS'] + Beds_state['NumRuralBeds_NHP18'] + Beds_state['NumUrbanBeds_NHP18']

In [286]:
Beds_state.head() #Assuming all 3 columns are independent counts so the Total is not double-counting!
#Also assuming these are ONLY PUBLIC facilities

,NumPublicBeds_HMIS,NumRuralBeds_NHP18,NumUrbanBeds_NHP18,Total No. of Beds
State/UT,,,,
Andaman & Nicobar Islands,1246,575,500,2321
Andhra Pradesh,60799,6480,16658,83937
Arunachal Pradesh,2320,2136,268,4724
Assam,19115,10944,6198,36257
Bihar,17796,6083,5936,29815

In [287]:
Beds_state.rename(columns={'NumPublicBeds_HMIS':'No. of Public Beds', 'NumRuralBeds_NHP18':'No. of Beds in Rural Areas','NumUrbanBeds_NHP18':'No. of Beds in Urban Areas'},inplace=True)
Beds_state.head(4)

,No. of Public Beds,No. of Beds in Rural Areas,No. of Beds in Urban Areas,Total No. of Beds
State/UT,,,,
Andaman & Nicobar Islands,1246,575,500,2321
Andhra Pradesh,60799,6480,16658,83937
Arunachal Pradesh,2320,2136,268,4724
Assam,19115,10944,6198,36257

##### 4) Population Data based on Aadhar

In [19]:
population.head()

              State  Aadhaar assigned as of 2019  Area (per sq km)
0             Delhi                     21763471              1483
1           Haryana                     28941133             44212
2            Kerala                     36475649             38852
3  Himachal Pradesh                      7560770             55673
4            Punjab                     30355185             50362

In [245]:
population.set_index(['State'],inplace=True)

In [251]:
population.rename(columns={'Area (per sq km)': 'Area (sq km)','Aadhaar assigned as of 2019':'Population (based on Aadhar)'},inplace=True)

In [252]:
population.head(2)

         Population (based on Aadhar)  Area (sq km)
State
Delhi                        21763471          1483
Haryana                      28941133         44212

In [261]:
population['Population Density (Persons per sq km)'] = population['Population (based on Aadhar)']/ population['Area (sq km)']
population = population.round({'Population Density (Persons per sq km)':0})

In [ ]:
#Calculate population weighting?

##### 5) Testing in India

In [485]:
testing.tail(5)

,Updated On,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,...,Num Calls State Helpline,Source1,Source2,Source3,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection,Unnamed: 31
4954,01/09/2020,West Bengal,NaN,NaN,NaN,1931373.0,Tested,NaN,NaN,NaN,...,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4955,02/09/2020,West Bengal,NaN,NaN,NaN,1975493.0,Tested,NaN,NaN,NaN,...,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4956,03/09/2020,West Bengal,NaN,NaN,NaN,2020784.0,Tested,NaN,NaN,NaN,...,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4957,04/09/2020,West Bengal,NaN,NaN,NaN,2066404.0,Tested,NaN,NaN,NaN,...,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4958,05/09/2020,West Bengal,NaN,NaN,NaN,2112185.0,Tested,NaN,NaN,NaN,...,NaN,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.wbhealth.gov.in/pages/corona/bulletin,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [486]:
testing.shape

(4959, 32)

In [487]:
#Create a state-by-state cumulative dataframe & a time series dataframe by state

In [488]:
#Checking which states are in the dataset
testing['State'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [550]:
list(testing.columns)

['Updated On',
 'State',
 'RT PCR Tests',
 'Antigen Tests',
 'Other Tests',
 'Total Tested',
 'Tag (Total Tested)',
 'Positive',
 'Negative',
 'Unconfirmed',
 'Cumulative People In Quarantine',
 'Total People Currently in Quarantine',
 'Tag (People in Quarantine)',
 'Total People Released From Quarantine',
 'People in ICU',
 'People on Ventilators',
 'Num Isolation Beds',
 'Num ICU Beds',
 'Num Ventilators',
 'Total PPE',
 'Total N95 Masks',
 'Corona Enquiry Calls',
 'Num Calls State Helpline',
 'Source1',
 'Source2',
 'Source3',
 'Test positivity rate',
 'Tests per thousand',
 'Tests per million',
 'Tests per positive case',
 'Population NCP 2019 Projection',
 'Unnamed: 31']

In [558]:
useless_cols = ['Cumulative People In Quarantine','Total People Currently in Quarantine', 'Tag (People in Quarantine)',
                'Total People Released From Quarantine', 'People in ICU','People on Ventilators','Num Isolation Beds',
                'Num ICU Beds', 'Num Ventilators','Total PPE','Total N95 Masks','Corona Enquiry Calls',
                'Num Calls State Helpline','Source1','Source2', 'Source3','Unnamed: 31']

In [587]:
testing_2 = testing.drop(useless_cols,axis=1)

In [588]:
testing_2.head(5)

,Updated On,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
0,17/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,1403.0,Samples Sent,12.0,1210,181.0,0.86%,3.53,3534.0,117,397000.0
1,24/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2679.0,Samples Sent,27.0,NaN,246.0,1.01%,6.75,6748.0,99,397000.0
2,27/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2848.0,Samples Sent,33.0,NaN,106.0,1.16%,7.17,7174.0,86,397000.0
3,01/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,3754.0,Samples Sent,33.0,NaN,199.0,0.88%,9.46,9456.0,114,397000.0
4,16/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,6677.0,Samples Sent,33.0,NaN,136.0,0.49%,16.82,16819.0,202,397000.0

In [589]:
testing_2.rename(columns ={'Updated On':'Date'}, inplace=True)

In [607]:
testing_2.tail(200)

,Date,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
4759,22/07/2020,Uttarakhand,NaN,NaN,NaN,129783.0,Samples Sent,5300.0,112210,9579.0,4.08%,11.65,11649.0,24,11141000.0
4760,23/07/2020,Uttarakhand,NaN,NaN,NaN,132840.0,Samples Sent,5445.0,115683,9003.0,4.10%,11.92,11924.0,24,11141000.0
4761,24/07/2020,Uttarakhand,NaN,NaN,NaN,135447.0,Samples Sent,5717.0,119647,7364.0,4.22%,12.16,12158.0,24,11141000.0
4762,25/07/2020,Uttarakhand,NaN,NaN,NaN,139229.0,Samples Sent,5961.0,124153,6396.0,4.28%,12.50,12497.0,23,11141000.0
4763,26/07/2020,Uttarakhand,NaN,NaN,NaN,141431.0,Samples Sent,6104.0,126505,6090.0,4.32%,12.69,12695.0,23,11141000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4954,01/09/2020,West Bengal,NaN,NaN,NaN,1931373.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4955,02/09/2020,West Bengal,NaN,NaN,NaN,1975493.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4956,03/09/2020,West Bengal,NaN,NaN,NaN,2020784.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4957,04/09/2020,West Bengal,NaN,NaN,NaN,2066404.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4958,05/09/2020,West Bengal,NaN,NaN,NaN,2112185.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [591]:
#Creating a cumulative table:
testing_cross_sect = testing_2[testing_2.Date == '01/09/2020']

In [592]:
testing_cross_sect.shape

(35, 15)

In [593]:
testing_cross_sect.set_index('State', inplace=True)

In [603]:
testing_cross_sect.head(2)

,Date,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
State,,,,,,,,,,,,,,
Andaman and Nicobar Islands,01/09/2020,NaN,NaN,NaN,35104.0,Samples Sent,3160.0,NaN,246.0,NaN,NaN,NaN,NaN,NaN
Andhra Pradesh,01/09/2020,NaN,NaN,NaN,3782746.0,Tested,NaN,3337607,NaN,NaN,NaN,NaN,NaN,NaN

In [595]:
#Seperate by state
#Order by date -- currently in DD/MM/YYY
#Calculate difference from previous day to get moving average

In [618]:
testing_2.head()

,Date,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
0,17/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,1403.0,Samples Sent,12.0,1210,181.0,0.86%,3.53,3534.0,117,397000.0
1,24/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2679.0,Samples Sent,27.0,NaN,246.0,1.01%,6.75,6748.0,99,397000.0
2,27/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2848.0,Samples Sent,33.0,NaN,106.0,1.16%,7.17,7174.0,86,397000.0
3,01/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,3754.0,Samples Sent,33.0,NaN,199.0,0.88%,9.46,9456.0,114,397000.0
4,16/05/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,6677.0,Samples Sent,33.0,NaN,136.0,0.49%,16.82,16819.0,202,397000.0

In [619]:
testing_2.sort_values(by='Date') #NOOOOO its doing 1st april, 1st may... instead of 1st april, 2nd april...

,Date,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
4805,01/04/2020,West Bengal,NaN,NaN,NaN,659.0,Tested,37.0,568,54.0,5.61%,0.01,7.0,18,96906000.0
2316,01/04/2020,Kerala,NaN,NaN,NaN,7965.0,Samples Sent,265.0,7256,444.0,3.33%,0.23,227.0,30,35125000.0
1114,01/04/2020,Delhi,NaN,NaN,NaN,2621.0,Tested,NaN,NaN,2621.0,0.00%,0.13,132.0,NaN,19814000.0
1286,01/05/2020,Goa,NaN,NaN,NaN,2181.0,Samples Sent,7.0,NaN,NaN,0.32%,1.42,1416.0,312,1540000.0
2895,01/05/2020,Manipur,NaN,NaN,NaN,461.0,Reports Received,2.0,NaN,NaN,0.43%,0.15,149.0,231,3103000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,31/08/2020,Delhi,724585.0,858900.0,NaN,1583485.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1109,31/08/2020,Dadra and Nagar Haveli and Daman and Diu,NaN,NaN,NaN,54194.0,Samples Collected,NaN,48426,381.0,NaN,NaN,NaN,NaN,NaN
686,31/08/2020,Bihar,NaN,NaN,NaN,3187161.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,31/08/2020,Arunachal Pradesh,NaN,NaN,NaN,167615.0,Samples Collected,NaN,158324,18.0,NaN,NaN,NaN,NaN,NaN
980,31/08/2020,Chhattisgarh,413710.0,168830.0,NaN,582540.0,Tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#State by state, daily testing data:

In [479]:
grouped_sets1 = testing_2.groupby('State')

In [481]:
#35 Separate datasets:
AN = grouped_sets1.get_group("Andaman and Nicobar Islands")
AP = grouped_sets1.get_group("Andhra Pradesh")
AR = grouped_sets1.get_group("Arunachal Pradesh")
AS = grouped_sets1.get_group("Assam")
BR = grouped_sets1.get_group("Bihar")
CH = grouped_sets1.get_group("Chandigarh")
CT = grouped_sets1.get_group("Chhattisgarh")
DN = grouped_sets1.get_group("Dadra and Nagar Haveli and Daman and Diu")
DL = grouped_sets1.get_group("Delhi")
GA = grouped_sets1.get_group("Goa")
GJ = grouped_sets1.get_group("Gujarat")
HR = grouped_sets1.get_group("Haryana")
HP = grouped_sets1.get_group("Himachal Pradesh")
JK = grouped_sets1.get_group("Jammu and Kashmir")
JH = grouped_sets1.get_group("Jharkhand")
KA = grouped_sets1.get_group("Karnataka")
KL = grouped_sets1.get_group("Kerala")
LA = grouped_sets1.get_group("Ladakh")
MP = grouped_sets1.get_group("Madhya Pradesh")
MH = grouped_sets1.get_group("Maharashtra")
MN = grouped_sets1.get_group("Manipur")
ML = grouped_sets1.get_group("Meghalaya")
MZ = grouped_sets1.get_group("Mizoram")
NL = grouped_sets1.get_group("Nagaland")
OR = grouped_sets1.get_group("Odisha")
PY = grouped_sets1.get_group("Puducherry")
PB = grouped_sets1.get_group("Punjab")
RJ = grouped_sets1.get_group("Rajasthan")
SK = grouped_sets1.get_group("Sikkim")
YN = grouped_sets1.get_group("Tamil Nadu")
YG = grouped_sets1.get_group("Telangana")
TR = grouped_sets1.get_group("Tripura")
UP = grouped_sets1.get_group("Uttar Pradesh")
UT = grouped_sets1.get_group("Uttarakhand")
WB = grouped_sets1.get_group("West Bengal")

In [482]:
AN.head(2)

,State,RT PCR Tests,Antigen Tests,Other Tests,Total Tested,Tag (Total Tested),Positive,Negative,Unconfirmed,Test positivity rate,Tests per thousand,Tests per million,Tests per positive case,Population NCP 2019 Projection
Date,,,,,,,,,,,,,,
17/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,1403.0,Samples Sent,12.0,1210,181.0,0.86%,3.53,3534.0,117,397000.0
24/04/2020,Andaman and Nicobar Islands,NaN,NaN,NaN,2679.0,Samples Sent,27.0,NaN,246.0,1.01%,6.75,6748.0,99,397000.0

#### Visualising Recovered, Deaths & Confirmed Cases

In [ ]:
#Objectives:
#let's try find top death rate
#let's try find top recovery rate too and see if it matches hospital capacity - trying to identify 'success stories'
#let's try to map general trends:
## 1 graph of cases daily for top 10, middle 10 and bottom 10 states
## 1 graph of national cases = daily_national showing the new cases, new conifrmed and deaths over time- differentiate

In [218]:
Cases_State.tail(10)

,Total,Andaman and Nicobar Islands,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chandigarh,Chhattisgarh,Dadra and Nagar Haveli,Daman and Diu,...,Punjab,Rajasthan,Sikkim,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,State Unassigned
Date,,,,,,,,,,,,,,,,,,,,,
2020-08-22,70067,61,10276,97,1560,2238,145,704,40,0,...,1316,1310,45,5980,2474,280,5217,483,3232,0
2020-08-23,61749,52,7895,40,1272,2247,142,704,36,0,...,1136,1345,22,5975,2384,331,5325,558,3274,0
2020-08-24,59696,44,8601,49,1879,1227,117,1136,18,0,...,1505,1346,43,5967,1842,200,4601,405,2967,0
2020-08-25,66873,41,9927,100,1973,1444,174,1287,21,0,...,1293,1370,29,5951,2579,293,5006,485,2964,0
2020-08-26,75995,40,10830,143,2179,2163,167,1209,22,0,...,1513,1345,11,5958,3018,329,5640,535,2974,0
2020-08-27,76827,33,10621,78,2036,1860,188,1438,42,0,...,1746,1345,56,5981,2795,385,5391,728,2997,0
2020-08-28,76657,32,10526,112,2560,1998,160,1245,31,0,...,1542,1355,34,5996,2932,509,5405,588,2982,0
2020-08-29,78479,31,10548,132,2427,2087,261,1513,15,0,...,1470,1407,26,6352,2751,443,5633,706,3012,0
2020-08-30,79461,23,10603,157,1980,2078,170,1346,32,0,...,1678,1450,25,6495,2924,447,6175,664,3019,0
2020-08-31,68766,28,10004,78,3266,1324,191,1411,27,0,...,1466,1466,25,5956,1873,321,4782,592,2993,0

In [ ]:
#Visualising the top, middle and bottom 15 states, to find out which, we need to look at the cumulative dataset

In [227]:
state_cumulative.head()

,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,State_Notes
State,,,,,,,,
Total,3742022,2879366,66080,795987,01/09/2020 20:55:22,589,TT,NaN
Maharashtra,792541,573559,24583,194056,31/08/2020 21:54:22,343,MH,343 cases are marked as non-covid deaths in MH...
Tamil Nadu,433969,374172,7418,52379,01/09/2020 19:29:23,0,TN,[July 22]: 444 backdated deceased entries adde...
Andhra Pradesh,445139,339876,4053,101210,01/09/2020 19:29:25,0,AP,Total includes patients from other states and ...
Karnataka,351481,254626,5837,90999,01/09/2020 19:16:24,19,KA,NaN

In [237]:
population.head()

              State  Aadhaar assigned as of 2019  Area (per sq km)
0             Delhi                     21763471              1483
1           Haryana                     28941133             44212
2            Kerala                     36475649             38852
3  Himachal Pradesh                      7560770             55673
4            Punjab                     30355185             50362

In [243]:
population.head(2)

     State  Aadhaar assigned as of 2019  Area (per sq km)
0    Delhi                     21763471              1483
1  Haryana                     28941133             44212

In [12]:
state_cumulative.head(1)

,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,State_Notes
State,,,,,,,,
Total,3742022,2879366,66080,795987,01/09/2020 20:55:22,589,TT,NaN

In [231]:
Top_confirmed = state_cumulative.sort_values(by='Confirmed', ascending=False)
Top_active = state_cumulative.sort_values(by='Active', ascending=False)
Top_deaths = state_cumulative.sort_values(by='Deaths', ascending=False) 
Top_recovered = state_cumulative.sort_values(by='Recovered', ascending=False)